---
import Layout from '../layouts/Layout.astro';

import { Dashboard } from '../components/stable-diffusion-backend/Dashboard';
import { self } from '../components/stable-diffusion-backend/api';

const serverURL: string = import.meta.env.SERVER_URL;
console.debug("serverURL:", serverURL)

const serverReachable = await self(serverURL);
console.debug("serverReachable:", serverReachable)

---

<Layout title="Stable Diffusion">
	<main>
		
		<Dashboard client:visible serverURL={serverURL} serverReachable={serverReachable}></Dashboard>

	</main>
</Layout>
