---
import Layout from '../layouts/Layout.astro';

import { Dashboard } from '../components/stable-diffusion-backend/Dashboard';
import { self } from '../components/stable-diffusion-backend/api';

const serverURLSSR: string = import.meta.env.SERVER_URL_SSR;
console.debug("serverURLSSR:", serverURLSSR)

const serverReachable = await self(serverURLSSR);
console.debug("serverReachable:", serverReachable)

const serverURLClient: string = import.meta.env.SERVER_URL_CLIENT;
console.debug("serverURLClient:", serverURLClient)

---

<Layout title="Stable Diffusion">
	<main>
		
		<Dashboard client:visible serverURLSSR={serverURLSSR} serverURLClient={serverURLClient} serverReachable={serverReachable}></Dashboard>

	</main>
</Layout>
