---

import ResetParametersButton from './stable-diffusion-backend/ResetParametersButton';
import logo from '/favicon.png';

---

<nav class="navbar py-2 relative flex items-center w-full justify-between">
  <div class="px-6 w-full flex flex-wrap items-center justify-between">
    
    <div class="flex items-center h-10">
      <a class="navbar-brand text-blue-600" href="/">
        <img src={logo} alt="stable-diffusion" class="w-10 h-10 ml-2 lg:ml-0 mr-2"/>
      </a>
    </div>

    <div class="list-none flex justify-end items-center flex-1">
      <ResetParametersButton client:visible />
    </div>

  </div>
</nav>

<script>
  import { generatedRequestStoreReset } from './stable-diffusion-backend/store';
  
  const button = document.querySelector('button')!;

  button.addEventListener('click', () => {
    generatedRequestStoreReset()
  });
</script>